/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* flex */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
}
.flex-45{
    flex: 0 1 45%;
}
.flex-35{
    flex: 0 1 31%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-end{
    justify-content: flex-end;
}
.start{
    align-items: flex-start;
    justify-items: center;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
    
}
.logo{
    font-size: 40px;
    color: white;
}
.nav-bar li{
   margin: 20px;
}
.nav-list li a {
    color: rgb(222,242,243);
}
.header{
    background-color: rgb(89,191,194);
}
/* hero section */
.hero{
    background-color: rgb(89,191,194);
    padding-bottom: 5rem;
}

.hero-heading{
    font-size: 60px;
    width: 35rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
    line-height: 1.2;
    font-weight: 700;
    color: white;
}
.hero-head{
    margin: 15px;
}
.hero-btn{
    padding: 15px 45px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-weight: 700;
    text-transform: capitalize;
}
.hero-img{
    margin: -6rem;
    z-index: 2;

}
/* files section */
.file-links{
  
   padding: 200px;
}
    

.linksf{
    margin-left: 15px;
    font-size: 2.1rem;
    color: #BDC8E0;
   
}
a{
    text-decoration: none;
}
.hr-line{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}
/* statistics section */
.stat-heading{
    width: 87%;
    font-size: 3rem;
    color: black;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}
.stat-para{
    font-size:2rem;
    color: rgb(141,157,192);
    margin-bottom: 1.5rem;
}

.stat-img img{
    width: 100%;
}
.unique{
    color: #fff;
    background-color: skyblue;
    padding: 0.5rem 3rem;
    padding-right: 2rem;
    display: inline-block;
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: capitalize;
    position: relative;;
}
/* score */
.score{
   padding: 80px 0;
}
.score-heading{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: black;
}
table{
    width: 100%;
    margin: 2rem auto 0 auto;
}
thead{
    background-color: #3D9Ea1;
}
th{
    text-align: left;
    padding: 0.5rem;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding-left: 1rem;
    border: 1px solid #3D9Ea1;

}

tr td{
    border: 1px solid #cbcbcb;
    color: #696c73;
    font-weight: 500;
    font-size: 1.2rem;
}

td{
    width: 25%;
    padding: 1rem;
}

tr:nth-child(2n){
    background-color: #d5e5e5;
}
.plan-head{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    width: 32rem;
}
.mon-year{
    margin: 2.0rem 0;
}
.mon{
    margin-right: 0.5rem;
    font-size: 1.9rem;
    text-transform: capitalize;
    font-weight: 500;
}
.toggle{
    width: 6rem;
    height: 3rem;
    background-color: #BBECEC;
    border-radius: 4rem;
    cursor: pointer;
}
.circle{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59BFC2;
    border-radius: 50%;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.year{
    margin-right: 0.5rem;
    font-size: 1.9rem;
    text-transform: capitalize;
    font-weight: 500;
}
.basic{
    border: 6px solid rgb(232,238,251);
    padding: 2rem;
    width: 35%;
    border-radius: 2rem;
}
.basic-head{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
}
.basic-para{
    font-size: 1.5rem;
    color: rgb(133,150,188);
    text-align: center;
    margin-bottom: 1.5rem;
}
.price{
    align-items: center;
    border-bottom: 0.3px solid grey;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

}
.dollar{
    color: rgb(133,150,188);
    font-size: 1.7rem;
    margin-right: 0.3rem;

}
.amnt{
    color: rgb(133,150,188);
    font-size: 2.5rem;
}
.af{
    color: rgb(133,150,188);
    font-size: 1.7rem;
    margin-right: 0.3rem;
    margin-left: 0.4rem;
}
.popular{
    border: 6px solid rgb(232,238,251);
    padding: 2rem;
    width: 35%;
    border-radius: 2rem;
}
.feature-list{
    margin-bottom: 2rem;
    align-items: flex-start;
}
.feature-list li{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    align-self: flex-start;
    margin-left: 2.5rem;
}

.basic-btn{
    background-color: #fff;
    color: var(--secondary);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #C7D4F1;
    align-self: stretch;
    text-align: center;
    border-radius: 0.5rem;
    width: 100%;
}
.bg{
    background-color: rgb(89,191,194);
}
/* trial */
.trial{
    margin: 5rem 5rem ;
}
.free-trial{
    background-color: rgb(89,191,194);
    padding: 7rem;
    border-radius: 4rem;
}
.trial-head{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
    text-align: center;
}
.get-started{
    padding: 1.1rem 5rem;
    color: rgb(45,67,128);
    border-radius: 0.3rem;
    border-color: white;
}
.facebook-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color:rgb(133,150,188) ;
    margin-right: 2rem;
    color: #fff;
    font-size: 1.2rem;
}
.footer-align{
    padding-bottom: 8rem ;
}
.about-head{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.about{
    margin-bottom: 1.6rem;
    margin-left: 2rem;
}

address{
    padding-right: 10rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
    color: rgb(114,134,177);
}


.list-foot li{
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    color: rgb(114,134,177);
}
.list-foot li a {
    text-decoration: none;
    color: rgb(114,134,177);
}
.contact{
    margin-bottom: 3rem;
}